@page "/application"
@inject HttpClient Http
@using System.Net.Http.Json

<EditForm Model="@registerDto" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="personalId">Personal ID:</label>
        <InputText id="personalId" class="form-control" @bind-Value="@registerDto.PersonalID" />
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="@registerDto.Name" />
    </div>

    <div class="form-group">
        <label for="surname">Surname:</label>
        <InputText id="surname" class="form-control" @bind-Value="@registerDto.Surname" />
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="@registerDto.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" class="form-control" type="password" @bind-Value="@registerDto.Password" />
    </div>

    <div class="form-group">
        <label for="faculty">Faculty:</label>
        <InputSelect id="faculty" class="form-control" @bind-Value="@registerDto.Faculty">
            @foreach (var faculty in faculties)
            {
                <option value="@faculty">@faculty</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterDto registerDto = new RegisterDto();
    private List<string> faculties = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        faculties = await Http.GetFromJsonAsync<List<string>>("https://localhost:5001/api/University/faculty");
    }

    private void HandleValidSubmit()
    {
        // Handle the form submission here
    }

    public class RegisterDto
    {
        public string PersonalID { get; set; }
        public string Name { get; set; }
        public string Surname { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string Faculty { get; set; }
    }
}
